html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background: #000000;
}

#wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#stage {
    width: 36020px;
    height: 100%;
    position: relative;
}

#bg {
    background: url('../images/bg.jpg') -80px bottom repeat-x;
    background-size: 3602px 600px;
    width: 36020px;
    min-width: 320px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#text1{
    background: url('../images/text1.png') no-repeat;
    background-size: contain;
    width: 90%;
    height: 100px;
    position: absolute;
    bottom: 350px;
    left: 0;
    right: 0;
}
#text2{
    position: absolute;
    bottom: 350px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    left: 0;
    right: 0;
}
#text2  span{
    color: #ff6400;
}
#text2 a{
    color: #000;
    background: #fff;
    border-radius: 3px;
    padding: 0 5px;
    cursor: pointer;
}

#man {
    background: url('../images/man.png') no-repeat;
    background-size: 200px 275px;
    width: 200px;
    height: 275px;
    position: absolute;
    bottom: 10px;
    left: 62px;
}
#shadow{
    background: url('../images/shadow.png') no-repeat;
    background-size: contain;
    width: 220px;
    height: 152px;
    position: absolute;
    bottom: -20px;
    left: 62px;
}
#light{
    background: url('../images/gif2/1.png') no-repeat;
    background-size: contain;
    width: 150px;
    height: 150px;
    bottom: 80px;
    position: absolute;
    z-index: 999;
    left: 85px;
}

#ling {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

#lingimg {
    position: absolute;
    text-align: center;

    left: 90px;
    bottom: 70px;
    width: 150px;
    height: 150px;

    background: url(../images/gif3/1.png) center center no-repeat;
    background-size: contain;
}

#lingimg img {
    margin-top: 60px;
    width: 45px;
}

#progressbar{
    display: none;
    background: url(../images/progressbar.png) no-repeat;
    background-size: contain;
    position: absolute;
    width: 270px;
    height: 52px;
    left: 50%;
    bottom: 56px;
    margin-left: -135px;
    z-index: 999;
}
#progress{
    position: relative;
    top: 18px;
    right: 0;
    width: 180px;
    margin-left: 67px;
    height: 20px;
}
#bar{
    background: url(../images/bar.png) no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
}
#powerbg{
    display: none;
    background: url(../images/power_bg.png) center center no-repeat;
    background-size: contain;
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 80px;
}

#start{
    width: 160px;
    height: 50px;
    background: url(../images/start.png) no-repeat;
    position: absolute;
    left: 50%;
    bottom: 30px;
    margin-left: -80px;
    cursor: pointer;
}
