body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select {
	margin:0;
	padding:0
}
body {
	font: normal 100% "宋体","Arial Narrow",HELVETICA;
	background:#fff;
	-webkit-text-size-adjust:100%;
}
ol, ul {
	list-style: none;
}
img {
	/*max-width: 100%;*/
	border:0;
	vertical-align:middle
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	color:#2d374b;
	text-decoration:none
}
a:hover {
	color:#cd0200;
	text-decoration:underline
}

/* 清理浮动 */
.clear:after {
	visibility:hidden;
	display:block;
	font-size:0;
	content:" ";
	clear:both;
	height:0;
}
.clear {
	zoom:1; /* for IE6 IE7 */
}
/* 设置内联, 减少浮动带来的bug */
.left {
	float:left;
	display: inline;
}
.right {
	float:right;
	display: inline;
}
.max {
	max-width: 100%;
}