body {
	background: #000;
}
#container {
	width: 100%;
	max-width: 640px;
	min-width: 320px;
	margin: 0 auto;
}
#header {
	max-height: 150px;
	background: url(../images/header_bg.png) center bottom no-repeat; 
	-webkit-background-size: contain;
	overflow: hidden;
}
.logo {
	width: 35%;
}
.logo img {
	margin-left: 10%;
}
.user {
	width: 60%;
	text-align: right;
	margin-top: 2%;
}
.user p {
	color: #5b5b5b;
	font-size: 0.875em;
	line-height: 1.2em;
	margin-right: 1%;
}
span.yellow {
	color: #ffa400;
}
#main {
	padding-top: 2%;
	/*background: #000 url(../images/main_index_bg.jpg) center top no-repeat;*/
	/*-webkit-background-size:contain;*/
	background: #000 url(../images/index_bg.jpg) center 2% no-repeat;
	-webkit-background-size:contain;
	position: relative;
	overflow: hidden;
}

#main_sub {
	padding-top: 5%;
	background: #000 url(../images/main_index_bg.jpg) center 8% no-repeat;
	-webkit-background-size:contain;
	position: relative;
	overflow: hidden;
}
#play_btn, #pass_btn {
	display: none;
}
.title {
	text-align: center;
	margin: 0 auto;
	position: relative;
	z-index: 40000;
}
.title_img {
	width: 78%;
	margin: 0 11%;
}
.title_text {
	position: absolute;
	width: 100%;
	top:0;
	left:0;
	z-index: 301;
}
.title_text_weixin {
	width: 100%;
}
.title_left {
	width: 70%;
	margin-left: 7%;
	text-align: left;
}
.title_left2 {
	width: 45%;
	margin-left: 30%;
	text-align: right;
}

.title_btn {
	width: 16%;
	margin-right: 7%;
	text-align: right;
}
.game {
	background: url(../images/place_bg_bak.jpg) right top no-repeat;
	min-height: 320px;
	text-align: center;
	position: relative;
	z-index: 10;
}
.game_index {
	background: url(../images/place_bg_bak.jpg) 52% top no-repeat;
	min-height: 300px;
	text-align: center;
	position: relative;
}
.grass {
	width: 100%;
	/*background: url(../images/grass.png) center top repeat-x;*/
}
.grass img {
	position: absolute;
	top:160px;
	left: 0;
}
.ball_index {
	margin:0 auto;
	padding-top: 150px;
	background: url(../images/football_bg.gif) center bottom no-repeat;
	-webkit-background-size: contain;
	z-index: 300;
}
.ball {
	margin:0 auto;
	padding-top: 130px;
	background: url(../images/football_bg.png) center bottom no-repeat;
	-webkit-background-size: contain;
	z-index: 300;
}

.football {
	margin: 0 auto;
	width: 23%;
	height: 80px;
	position: relative;
	opacity: 0;
}
.light {
	position: absolute;
	top:0;
	left:0;
}
.fball {
	position: absolute;
	top:0;
	left:0;
}
.ballshadow {
	width: 38%;
	position: absolute;
	top: 50px;
	left: 125px;
	opacity: 0;
}

.play {
	width: 60.3%;
	margin: 0 auto;
}

.info {
	width: 85%;
	margin: 0 auto;
	text-align: center;
	background: url(../images/ball_info.png) center center no-repeat;
	-webkit-background-size: contain;
	overflow: hidden;
}
.scroll {
	margin: 15.5% 0 5% 2%;
	height: 1em;
	overflow: hidden;
}
ul.info_list {
	height: 1em;
	overflow: hidden;
}
ul.info_list li {
	text-align: left;
	color: #fff;
	height: 1em;
	line-height: 1em;
	font-size: 1em;
}

.jf {
	margin-top: 20px;
	padding-bottom: 30px;
	background: #0c0c0c url(../images/jf_bg.jpg) center bottom no-repeat;
	-webkit-background-size: contain;
	overflow: hidden;
}
.jf_title {
	width: 26%;
	margin: 5% 37% 1% 37%;
}
.prev {
	width: 8%;
	margin: 5% 0 5% 7%;
}
.next {
	width: 8%;
	margin: 5% 7% 5% 0;
}
.giftItem {
	width: 70%;
}

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
  text-align: center;
}
.swipe-wrap .swipeImg {
	width: 50%;
	margin: 0 25%;
}
.swipe-wrap .swipeBtn {
	width: 50%;
	margin: 5% 25%;
}
.swipe-wrap > div p {
	color: #ffa400;
	line-height: 1.25em;
	font-size: 0.875em;
}
span.gray {
	color: #989898;
}
.start {
	width: 88%;
	margin: 0 auto;
	background: url(../images/progressbar.png) center center no-repeat;
	-webkit-background-size: contain;
	overflow: hidden;
}

/* play start */
.ball_play {
	position:absolute;
	top: 150px;
	width: 100%;
	/*background: url(../images/football_bg.png) center 70px no-repeat;*/
}
.back {
	position: absolute;
	top: 0;
	right: 2%;
	width: 15%;
}
.power {
	width: 100%;
	background: url(../images/power_bg.png) center bottom no-repeat;
	-webkit-background-size: contain;
	overflow: hidden;
	padding-bottom: 16%;
}
.progressBar {
	position: relative;
	width: 88.125%;
	margin: 0 auto;
}
#bar{
	width:0;
	overflow: hidden;
	position: absolute;
	top: 33%;
	left: 24.113%;
}
.percent {
	display: none;
}
.showScore {
	width: 190px;
	margin: 0 auto;
	padding-top: 8%;
	height: 68px;
	z-index: 30000;
}
#score {
	width: 150px;
	height: 68px;
	background: url(../images/score_bg.png) no-repeat;
	text-align: right;
	padding-right: 40px;
	padding-top: 12px;
	z-index: 30001;
	position: relative;
}
/* play end */

/* view */
#main_view {
	background: #000 url(../images/sub_index_bg.jpg) center top no-repeat;
	-webkit-background-size:contain;
	overflow: hidden;
	position: relative;
}
.viewScore {
	padding: 28% 5% 10% 5%;
}
p.textB {
	font-size: 1.5em;
	color: #e6eff0;
	line-height: 1.3em;
}
p.textC {
	font-size: 1em;
	margin: 0 3%;
	color: #ffa400;
	line-height: 1.5em;
}
span.white {
	color: #fff;
}
span.big {
	font-size: 1.5em;
}
span.em12 {
	font-size: 1.2em;
}
.line {
	margin: 3% 0;
}
.viewBtn {
	margin: 10% auto;
	width: 100%;
	overflow: hidden;
}
.viewBtn img {
	display: inline-block;
	float: left;
}
.share {
	width: 54.0625%;
}
.again {
	width: 44.84375%;
}
.shareDetail {
	width: 77.8125%;
	margin: 40% auto 60% auto;
	text-align: center;
}

/* gift */
#main_gift {
	position: relative;
	overflow: hidden;
}
.gift {
	margin-top: 5%;
}
.giftTitle {
	color: #fff;
	font-size: 1em;
	display: inline-block;
	margin-bottom: 10px;
}
.gift_list li {
	background: #0c0c0c url(../images/jf_bg.jpg) center bottom no-repeat;
	-webkit-background-size: contain;
	text-align: center;
	padding: 10% 0;
	position:relative;

}
.gift_list .swipeImg {
	width: 40%;
	margin: 0 30%;
}
.gift_list .swipeBtn {
	text-align: center;
	width: 28%;
	margin: 5% 36%;
}
.gift_list p {
	color: #ffa400;
	line-height: 1.5em;
	font-size: 0.875em;
}
p.gift_name {
	font-size: 1.5em;
	color: #e6eff0;
	margin-top: 2%;
}
.gift_list li>p>span {
	font-size: 1.25em;
	color: #fff;
}
.kkc-days-text, .kkc-hours-text, .kkc-min-text, .kkc-sec-text {
	font-size: 0.6875em;
	color: #ffa400;
}
.pop, .pop_count, .pop_end,.pop_alert, .pop_jf {
	display: none;
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	background: url(../images/pop_bg.png) center center no-repeat;
	-webkit-background-size: contain;
	text-align: center;
}
.pop_success {
	display: none;
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	background: url(../images/pop_success_bg.png) center center no-repeat;
	-webkit-background-size: contain;
	text-align: center;
	overflow: hidden;
}
 .pop_juan {
	display: none;
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	background: url(../images/pop_juan_bg.png) center center no-repeat;
	-webkit-background-size: contain;
	text-align: center;
	overflow: hidden;
}
.code {
	color: #fff;
}
.input {
	width: 20%;
	border: 1px solid #4a4a4a;
	background: #000;
	color: #ffa400;
	font-size: 1em;
	margin-bottom: 2%;
}
.code {
	margin: 18% 13% 0 13%;
}
.codeNumber {
	width: 20%;
	display: inline-block;
}
.pop_btn {
	width: 40%;
	margin-top: 5%;
	margin-bottom: 10%;
	margin-left: 30%;
	margin-right: 30%;
}
.pop_btn .pop_list {
	width: 50%;
	text-align: center;
}
.email {
	width: 70%;
	margin: 30% 15% 0 15%;
	color: #ffa400;
	text-align: left;
}
.btn_success {
	width: 50%;
	margin: 0 25%;
	text-align: center;
}
.count_info {
	color: #fff;
	text-align: center;
	margin: 15% 0 0 0;
}
.jf_info {
	width: 80%;
	line-height: 1em;
	color: #fff;
	text-align: center;
	margin: 10% 10% 0 10%;
}
.juan_info {
	color: #fff;
	text-align: center;
	margin: 15% 0 0 0;
}
.juan_img {
	width: 60%;
	margin: 2% auto 0 auto;
}
.btn_save {
	width: 70%;
	margin: 0 15%;
	text-align: center;
}

/* rules */
#header_rules {
	background: url(../images/header_rule_bg.png) center bottom no-repeat; 
	-webkit-background-size: contain;
}
#main_rules {
	/*padding-top: 5%;*/
	background: #000 url(../images/main_rule_bg.jpg) center bottom no-repeat;
	-webkit-background-size:contain;
	position: relative;
	padding: 0 5% 5% 5%;
}

#header_rules .logo {
	padding-bottom: 10%;
}

.rules_title {
	text-align: center;
	color: #ffa400;
	font-size: 1em;
	line-height: 1.5em;
}
.sub_title {
	font-size: 0.875em;
}
.rules_detail {
	margin: 5% 0;
	height: 200px;
	overflow-y: scroll;
}
.rules_detail p {
	color: #ffa400;
	margin-bottom: 2%;
	font-size: 0.875em;
	line-height: 1.25em;
}
.rules_btn {
	width: 30%;
	margin: 0 auto;
}

/* default */
#main_default {
	padding-top: 5%;
	background: url(../images/main_index_bg.jpg) center 12% no-repeat;
	-webkit-background-size:contain;
	position: relative;	
	overflow: hidden;
}
p.default_text {
	font-size: 1.125em;
	color: #fff;
	line-height: 1.125em;
	text-align: center;
}
.fifa {
	margin: 30% auto 0 auto;
	background: url(../images/fifa_bg.jpg) center bottom no-repeat;
	-webkit-background-size:contain;
	padding-bottom: 50%;
}
.fifa_list {
	width: 86%;
	margin: 0 auto;
}
.fl_left {
	width: 15%;
}
.fl_right {
	width: 85%;
}
.fifa img {
	margin-bottom: 10%;
}
.fifa p {
	font-size: 0.875em;
	color: #fff;
	text-align: left;
	margin-bottom: 2%;
	line-height: 1.5em;
}
/* pass */
.passForm {
	color: #fff;
	font-size: 0.875em;
	text-align: center;
}
.tips_list {
	display: none;
}
/* Top 10 */
.top10 {
	margin: 30% auto 0 auto;
	text-align: center;
}
.top10_title {
	width: 90%;
	margin: 0 auto;
}
.top10_list {
	margin: 3% 10%;
	overflow: hidden;
}
.top10_list li {
	color: #fff;
	height: 1.6em;
	line-height: 1.6em;
	text-align: left;
	overflow: hidden;
}
li.tListTitle {
	font-size: 1.25em;
}
li.tListTitle .top_num {
	color: #fff;
}
.top_num {
	width:  25%;
	color: #ffa400;
}
.top_name {
	width: 50%;
	height: 1.6em;
	line-height: 1.6em;
	white-space: nowrap;
	overflow-y: hidden;
	overflow-x: auto;
	text-overflow: ellipsis;
}
.top_score {
	width: 25%;
}
.top10_index {
	color: #fff;
	text-align: right;
	margin-right: 8%;
}
.top10_index a {
	color: #4cd400;
	font-size: 0.75em;
	text-decoration: underline;
}

/* index animation */
.title2 {
	text-align: center;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	position: relative;
}

.football2 {
	margin: 0 auto;
	width: 100%;
	position: relative;
	background: url(../images/football_bg.png) center 10% no-repeat;
	-webkit-background-size: contain;
}

.gift_more {
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 2000;
}
.jf_tips {
	font-size: 1em;
	color: #fff;
	text-align: center;
}

.pop_wait {
	display: none;
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	-webkit-background-size: contain;
	text-align: center;
	z-index: 100;
	color: #FFF;
}